.all-news-container{
    margin: 150px auto 100px auto;
    background-color:  #d9e1e8;
}

.latest-header {
    text-align: center;
    margin: 10px;
    color: #9baec8;
}

.news-cell {
    width: 95%;
    height: 130px;
    margin: 10px auto 10px auto;
    padding: 5px 5px 5px 5px;
    text-align: left;
}

.news-cell-img {
    width: 19%;
    height: 100%;
    overflow: hidden;
}

.news-cell-img img {
    width: 100%;
}

.news-cell-detail {
    width: 68%;
    height: 100%;
    padding: 5px 20px 10px 10px;
    overflow: hidden;
}

.news-date {
    padding: 0px 0px 0px 5px;
}
.news-cell-info {
    width: 13%;
    height: 100%;
    padding: 5px 0px 0px 0px;
}


.change-pager ul{
    width: fit-content;
    margin: auto auto;
}